<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Images | Horsemaker's UI</title>
		<link rel="stylesheet" href="../../reset.css" />
		<link rel="stylesheet" href="../../default.css" />
		<link rel="stylesheet" href="../../main.css" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="image.css" />
	</head>
	<body>
		<div class="header">
			<a class="header-link" href="/index.html"
				><img
					class="avatar-sm"
					src="../../assets/horsemaker.svg"
					alt="🦄"
				/>
				<h2>Horsemaker's UI</h2>
			</a>
		</div>
		<div class="main images">
			<h1>Images</h1>
			<p>
				Image Components are used to dsiplay images on websites.This
				images can be made screen responsive.
			</p>
			<p>responsive image</p>
			<div class="playground">
				<img src="../../assets/cat.jpg" alt="" class="img-rsp" />
			</div>
			<p>round image</p>
			<div class="playground">
				<img
					src="../../assets/cat.jpg"
					alt=""
					class="img-rsp img-round"
				/>
			</div>
		</div>
        <footer>
			<span
				>created by
				<a
					class="hl hl-warning"
					target="_blank"
					href="https://peerlist.io/horsemaker"
					>horsemaker</a
				></span
			>
			<span> - </span>
			<span
				>credits to
				<a
					class="hl hl-warning"
					target="_blank"
					href="https://neog.camp/"
					>neoG Camp</a
				></span
			>
		</footer>
	</body>
</html>
