<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images | Horsemaker's UI</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <!-- Primary Meta Tags -->
    <meta name="keywords" content="Horsemaker, horsemaker, Horsemaker's UI" />
    <meta name="author" content="Yash Ghodekar" />
    <meta name="publisher" content="Yash Ghodekar" />
    <meta name="copyright" content="Yash Ghodekar" />
    <meta name="audience" content="Everyone" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="title" content="Horsemaker's UI" />
    <meta
      name="description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://horsemaker-ui.netlify.app/" />
    <meta
      property="og:title"
      content="Horsemaker's UI"
    />
    <meta
      property="og:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="og:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://horsemaker-ui.netlify.app/" />
    <meta property="twitter:title" content="Horsemaker's UI" />
    <meta
      property="twitter:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="twitter:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main images">
      <h1 class="text-center">Images</h1>
      <p>
        Image Components are used to dsiplay images on websites.This images can
        be made screen responsive.
      </p>
      <h2>Responsive Image</h2>
      <p>
        Add the class <span class="hl-code">img-rsp</span> to make any image
        responsive.
      </p>
      <div class="playground">
        <img src="../../assets/image.jpg" alt="image" class="img-rsp" />
      </div>
      <pre class="code">
        <code class="html">
  &lt;img src="../../assets/image.jpg" alt="image" class="img-rsp" />
        </code>
      </pre>
      <h2>Round Image</h2>
      <p>
        Add the class <span class="hl-code">img-round</span> to make any image
        round.
      </p>
      <div class="playground">
        <img
          src="../../assets/image.jpg"
          alt="image"
          class="img-rsp img-round"
        />
      </div>
      <pre class="code">
        <code class="html">
  &lt;img src="../../assets/image.jpg" alt="image" class="img-rsp img-round" />
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
