<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography | Horsemaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main typography">
      <h1 class="text-center">Typography</h1>
      <p>Display text using well-defined typographic styles.</p>
      <h2>Headings</h2>
      <p>h1</p>
      <div class="playground">
        <h1>This is h1</h1>
      </div>
      <pre class="code">
        <code class="html">
  &lt;h1>This is h1&lt;/h1>
        </code>
      </pre>
      <p>h2</p>
      <div class="playground">
        <h2>This is h2</h2>
      </div>
      <pre class="code">
        <code class="html">
  &lt;h2>This is h2&lt;/h2>
        </code>
      </pre>
      <p>h3</p>
      <div class="playground">
        <h3>This is h3</h3>
      </div>
      <pre class="code">
        <code class="html">
  &lt;h3>This is h3&lt;/h3>
        </code>
      </pre>
      <p>h4</p>
      <div class="playground">
        <h4>This is h4</h4>
      </div>
      <pre class="code">
        <code class="html">
  &lt;h4>This is h4&lt;/h4>
        </code>
      </pre>
      <p>h5</p>
      <div class="playground">
        <h5>This is h5</h5>
      </div>
      <pre class="code">
        <code class="html">
  &lt;h5>This is h5&lt;/h5>
        </code>
      </pre>
      <p>h6</p>
      <div class="playground">
        <h6>This is h6</h6>
      </div>
      <pre class="code">
        <code class="html">
  &lt;h6>This is h6&lt;/h6>
        </code>
      </pre>
      <h2>Paragraph</h2>
      <p>p</p>
      <div class="playground">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iste,
          asperiores perspiciatis eius necessitatibus architecto ipsam
          voluptatibus laborum atque sit at et modi, eos, repellendus minus
          distinctio aspernatur quo assumenda?
        </p>
      </div>
      <pre class="code">
        <code class="html">
  &lt;p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iste,
    asperiores perspiciatis eius necessitatibus architecto ipsam
    voluptatibus laborum atque sit at et modi, eos, repellendus minus
    distinctio aspernatur quo assumenda?
  &lt;/p>
        </code>
      </pre>
      <h2>Small Text</h2>
      <p>small</p>
      <div class="playground">
        <small
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
          delectus quam dolorem itaque labore enim aspernatur quo illo, ex non
          veniam. Harum, numquam accusamus est rerum qui eaque voluptate
          architecto?</small
        >
      </div>
      <pre class="code">
        <code class="html">
  &lt;small
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,
    delectus quam dolorem itaque labore enim aspernatur quo illo, ex non
    veniam. Harum, numquam accusamus est rerum qui eaque voluptate
    architecto?&lt;/small
  >
        </code>
      </pre>
      <h2>Center Text</h2>
      <p>text-center</p>
      <div class="playground">
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel
          laborum minima laudantium totam? Impedit officiis voluptas doloribus
          quia quam voluptates qui? Fugiat, optio! Provident dolores blanditiis
          quibusdam neque at.
        </p>
      </div>
      <pre class="code">
        <code class="html">
  &lt;p class="text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores vel
    laborum minima laudantium totam? Impedit officiis voluptas doloribus
    quia quam voluptates qui? Fugiat, optio! Provident dolores blanditiis
    quibusdam neque at.
  &lt;/p>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
