<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigations | Horsemaker's UI</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <!-- Primary Meta Tags -->
    <meta name="keywords" content="Horsemaker, horsemaker, Horsemaker's UI" />
    <meta name="author" content="Yash Ghodekar" />
    <meta name="publisher" content="Yash Ghodekar" />
    <meta name="copyright" content="Yash Ghodekar" />
    <meta name="audience" content="Everyone" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="title" content="Horsemaker's UI" />
    <meta
      name="description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://horsemaker-ui.netlify.app/" />
    <meta
      property="og:title"
      content="Horsemaker's UI"
    />
    <meta
      property="og:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="og:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://horsemaker-ui.netlify.app/" />
    <meta property="twitter:title" content="Horsemaker's UI" />
    <meta
      property="twitter:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="twitter:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main navigations">
      <h1 class="text-center">Navigations</h1>
      <p>
        Navigation is first and most important component of any website. Without
        navbar user will not know which brand is it, where to look more and to
        connect with brand.
      </p>
      <h2>Navbar</h2>
      <p>
        Below is an example of a responsive navbar with menu options on the
        right side of the navbar. The navbar adjusts itself according to the
        size of the screen.
      </p>
      <p>Have a look at the <a class="live-link" href="./navigation.html">live demo</a>.</p>
      <div class="playground">
        <iframe
          src="./navigation.html"
          class=""
          frameborder="1"
          width="100%"
          height="750vh"
        ></iframe>
      </div>
      <pre class="code">
        <code class="html">
  &lt;header class="header">
    &lt;nav class="navbar">
      &lt;section class="navbar-brand">
        &lt;a href="/index.html">
          &lt;img
            class="brand-logo"
            src="../../assets/horsemaker.svg"
            alt="horsemaker"
          />
        &lt;/a>
      &lt;/section>
      &lt;section class="navbar-menu">
        &lt;ul class="navbar-links">
          &lt;li class="navbar-link">
            &lt;a href="/index.html#installation">Installation&lt;/a>
          &lt;/li>
          &lt;li class="navbar-link">
            &lt;a href="/index.html#components">Components&lt;/a>
          &lt;/li>
          &lt;li class="navbar-link">&lt;a href="#">Docs&lt;/a>&lt;/li>
          &lt;li class="navbar-link">
            &lt;a
              target="_blank"
              href="https://github.com/horsemaker/horsemaker-UI"
              >Github&lt;/a
            >
          &lt;/li>
        &lt;/ul>
        &lt;span class="material-icons navbar-icon"> menu &lt;/span>
      &lt;/section>
    &lt;/nav>
  &lt;/header>
  &lt;ul class="navbar-responsive-links">
    &lt;li class="navbar-link">
      &lt;a href="/index.html#installation">Installation&lt;/a>
    &lt;/li>
    &lt;li class="navbar-link">
      &lt;a href="/index.html#components">Components&lt;/a>
    &lt;/li>
    &lt;li class="navbar-link">&lt;a href="#">Docs&lt;/a>&lt;/li>
    &lt;li class="navbar-link">
      &lt;a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
        >Github&lt;/a
      >
    &lt;/li>
  &lt;/ul>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
