.badge {
	display: inline-block;
	position: relative;
	padding: 0.75rem;
}

.badge-content {
	position: absolute;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
}

.badge-small {
	padding: 2px 7px;
}

.badge-large {
	padding: 2px 8px;
	font-size: 1.5rem;
	font-weight: 500;
}

.badge-left {
	left: -8px;
	top: -5px;
}

.badge-right {
	right: -8px;
	top: -5px;
}

.badge-large.badge-right {
	right: -1rem;
	top: -8px;
}

.badge-large.badge-left {
	left: -1rem;
	top: -8px;
}

.badge-button {
	border: none;
	font-family: inherit;
	border-radius: 5px;
	background-color: var(--geist-background-darker);
	font-size: inherit;
	color: inherit;
	box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.badge-blue {
	background-color: var(--geist-blue);
}

.badge-violet {
	background-color: var(--geist-violet);
}

.badge-error {
	background-color: var(--geist-error);
}

.badge-success {
	background-color: var(--geist-success);
}

.badge-warning {
	background-color: var(--geist-warning);
}

.badge-icon > .badge-content {
	top: 0;
	right: 0;
}
