<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badges | Horsemaker's UI</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <!-- Primary Meta Tags -->
    <meta name="keywords" content="Horsemaker, horsemaker, Horsemaker's UI" />
    <meta name="author" content="Yash Ghodekar" />
    <meta name="publisher" content="Yash Ghodekar" />
    <meta name="copyright" content="Yash Ghodekar" />
    <meta name="audience" content="Everyone" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="title" content="Horsemaker's UI" />
    <meta
      name="description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://horsemaker-ui.netlify.app/" />
    <meta
      property="og:title"
      content="Horsemaker's UI"
    />
    <meta
      property="og:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="og:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://horsemaker-ui.netlify.app/" />
    <meta property="twitter:title" content="Horsemaker's UI" />
    <meta
      property="twitter:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="twitter:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main badges">
      <h1 class="text-center">Badges</h1>
      <p>
        Badges are being used to display the status information or the
        notification count.
      </p>
      <!-- Text with a badge -->
      <h2>Text with a Badge</h2>
      <p>
        Add notification badges for your text by using
        <span class="hl-code">badge</span> class. Have a look at the demo & the
        code reference below.
      </p>
      <div class="playground">
        <span class="badge">
          Alerts
          <span class="badge-content badge-small badge-right badge-warning"
            >4</span
          >
        </span>
      </div>
      <pre class="code">
        <code class="html">
  &lt;span class="badge">
    Alerts
    &lt;span class="badge-content badge-small badge-right badge-warning"
      >4&lt;/span
    >
  &lt;/span>
        </code>
      </pre>
      <!-- Text with large badge -->
      <h2>Text with large badge</h2>
      <p>
        Add large notification badges for your text by using
        <span class="hl-code">badge-large</span> class. Have a look at the demo
        & the code reference below.
      </p>
      <div class="playground">
        <span class="badge">
          Alerts
          <span class="badge-content badge-large badge-right badge-violet"
            >4</span
          >
        </span>
      </div>
      <pre class="code">
        <code class="html">
  &lt;span class="badge">
    Alerts
    &lt;span class="badge-content badge-large badge-right badge-violet"
      >4&lt;/span
    >
  &lt;/span>
        </code>
      </pre>
      <p>
        Add large notification badges on the top-left of your text by using
        <span class="hl-code">badge-left</span> class. Have a look at the demo &
        the code reference below.
      </p>
      <div class="playground">
        <span class="badge">
          Alerts
          <span class="badge-content badge-large badge-left badge-success"
            >4</span
          >
        </span>
      </div>
      <pre class="code">
        <code class="html">
  &lt;span class="badge">
    Alerts
    &lt;span class="badge-content badge-large badge-left badge-success"
      >4&lt;/span
    >
  &lt;/span>
        </code>
      </pre>
      <!-- Button with a badge -->
      <h2>Button with a Badge</h2>
      <p>
        Add notification badges to your buttons by using
        <span class="hl-code">badge-button</span> class. Have a look at the demo
        & the code reference below.
      </p>
      <div class="playground">
        <button class="badge badge-button">
          Action
          <span class="badge-content badge-small badge-left badge-error"
            >8</span
          >
        </button>
        <button class="badge btn btn-solid-primary">
          Action
          <span class="badge-content badge-small badge-left badge-error"
            >8</span
          >
        </button>
      </div>
      <pre class="code">
        <code class="html">
  &lt;button class="badge badge-button">
    Action
    &lt;span class="badge-content badge-small badge-left badge-error"
      >8&lt;/span
    >
  &lt;/button>
  &lt;button class="badge btn btn-solid-primary">
    Action
    &lt;span class="badge-content badge-small badge-left badge-error"
      >8&lt;/span
    >
  &lt;/button>
        </code>
      </pre>
      <!-- Icon with a badge -->
      <h2>Icon with a Badge</h2>
      <p>
        Add notification badges for your icons by using
        <span class="hl-code">badge-icon</span> class. Have a look at the demo &
        the code reference below.
      </p>
      <div class="playground">
        <span class="badge badge-icon"
          ><span class="material-icons"> home</span>
          <span class="badge-content badge-small badge-blue badge-right"
            >5</span
          ></span
        >
      </div>
      <pre class="code">
        <code class="html">
  &lt;span class="badge badge-icon"
    >&lt;span class="material-icons"> home&lt;/span>
    &lt;span class="badge-content badge-small badge-blue badge-right"
      >5&lt;/span
    >&lt;/span
  >
        </code>
      </pre>
      <h2>Badges on Avatars</h2>
      <p>
        Add status badges for your avatars by using
        <span class="hl-code">badge-avatar</span> class. Have a look at the demo
        & the code reference below.
      </p>
      <div class="playground">
        <span class="badge badge-avatar">
          <img
            class="avatar-round avatar-lg"
            src="../../assets/avatarOne.png"
            alt="avatar"
          />
          <span class="badge-content status-lg status-online"></span>
        </span>
        <span class="badge badge-avatar">
          <img
            class="avatar-round avatar-md"
            src="../../assets/avatarTwo.png"
            alt="avatar"
          />
          <span class="badge-content status-md status-idle"></span>
        </span>

        <span class="badge badge-avatar">
          <img
            class="avatar-round avatar-sm"
            src="../../assets/avatarThree.png"
            alt="avatar"
          />
          <span class="badge-content status-sm status-offline"></span>
        </span>

        <span class="badge badge-avatar">
          <img
            class="avatar-round avatar-xs"
            src="../../assets/avatarFour.png"
            alt="avatar"
          />
          <span class="badge-content status-xs status-dnd"></span>
        </span>
      </div>
      <pre class="code">
        <code class="html">
  &lt;span class="badge badge-avatar">
    &lt;img
      class="avatar-round avatar-lg"
      src="../../assets/avatarOne.png"
      alt="avatar"
    />
    &lt;span class="badge-content status-lg status-online">&lt;/span>
  &lt;/span>
  &lt;span class="badge badge-avatar">
    &lt;img
      class="avatar-round avatar-md"
      src="../../assets/avatarTwo.png"
      alt="avatar"
    />
    &lt;span class="badge-content status-md status-idle">&lt;/span>
  &lt;/span>

  &lt;span class="badge badge-avatar">
    &lt;img
      class="avatar-round avatar-sm"
      src="../../assets/avatarThree.png"
      alt="avatar"
    />
    &lt;span class="badge-content status-sm status-offline">&lt;/span>
  &lt;/span>

  &lt;span class="badge badge-avatar">
    &lt;img
      class="avatar-round avatar-xs"
      src="../../assets/avatarFour.png"
      alt="avatar"
    />
    &lt;span class="badge-content status-xs status-dnd">&lt;/span>
  &lt;/span>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
