@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #2f3237;
	--secondary-color: #2a2b2f;
	--font-color: #e5eaf0;
	--accent-gray-light: #9ca3af;
	--accent-gray-dark: #4b5563;
	--accent-purple-light: #bba9fb;
	--accent-purple-dark: #8b5cf6;
	--accent-emerald-light: #10b981;
	--accent-emerald-dark: #047857;
	--accent-red-light: #dc2626;
	--accent-red-dark: #b91c1c;
	--accent-orange-light: #b45309;
	--accent-orange-dark: #92400e;

	--letter-spacing: 0.5px;
}

body {
	margin: 6vh 1rem;
	background-color: var(--primary-color);
	color: var(--font-color);
	font-family: 'Rubik', sans-serif;
	letter-spacing: var(--letter-spacing);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5vh 0;
}

a {
	text-decoration: none;
	font: inherit;
	color: inherit;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	word-wrap: break-word;
}

.introduction {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	letter-spacing: var(--letter-spacing);
}

.introduction-img {
	height: 7rem;
}

.introduction-details {
	display: flex;
	flex-direction: column;
}

.introduction-lineOne {
	font-weight: 500;
	font-size: 1.5rem;
}

.introduction-lineTwo {
	font-weight: 400;
	font-size: 1.25rem;
}

.introduction-lineThree {
	font-weight: 300;
	font-size: 1rem;
}

.components {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2vh;
}

.component {
	max-width: 20rem;
	display: flex;
	flex-direction: column;
	gap: 1vh;
	padding: 1rem;
	border: 1px solid var(--accent-gray-dark);
	border-radius: 5px;
}

.component-link {
	margin-top: auto;
	align-self: flex-start;
	padding: 0.2rem 0.4rem;
	background-color: var(--accent-red-dark);
	border-radius: 5px;
}

.hl {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
	font-weight: 500;
}

.hl-purple-dark {
	background-color: var(--accent-purple-dark);
}

.hl-emerald-dark {
	background-color: var(--accent-emerald-dark);
}

.hl-orange-light {
	background-color: var(--accent-orange-light);
}

.hl-orange-dark {
	background-color: var(--accent-orange-dark);
}

footer {
	text-align: center;
	background-color: var(--primary-color);
	padding: 1rem;
	position: fixed;
	bottom: 0;
}

@media screen and (max-width: 600px) {
	.introduction {
		text-align: center;
	}

	footer {
		position: sticky;
	}
}
