<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons | Horsemaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main buttons">
      <h1 class="text-center">Buttons</h1>
      <p>
        Buttons allow users to take actions, and make choices, with a single
        tap.
      </p>
      <p>solid buttons</p>
      <div class="playground">
        <button class="btn btn-solid-primary">Primary</button>
        <button class="btn btn-solid-warning">Warning</button>
        <button class="btn btn-solid-danger">Danger</button>
        <button class="btn btn-solid-safe">Safe</button>
      </div>
      <pre class="code">
        <code class="html">
  &lt;button class="btn btn-solid-primary">Primary&lt;/button>
  &lt;button class="btn btn-solid-warning">Warning&lt;/button>
  &lt;button class="btn btn-solid-danger">Danger&lt;/button>
  &lt;button class="btn btn-solid-safe">Safe&lt;/button>
        </code>
      </pre>
      <p>outlined buttons</p>
      <div class="playground">
        <button class="btn btn-outline-primary">Primary</button>
        <button class="btn btn-outline-warning">Warning</button>
        <button class="btn btn-outline-danger">Danger</button>
        <button class="btn btn-outline-safe">Safe</button>
      </div>
      <pre class="code">
        <code class="html">
  &lt;button class="btn btn-outline-primary">Primary&lt;/button>
  &lt;button class="btn btn-outline-warning">Warning&lt;/button>
  &lt;button class="btn btn-outline-danger">Danger&lt;/button>
  &lt;button class="btn btn-outline-safe">Safe&lt;/button>
        </code>
      </pre>
      <p>linked button</p>
      <div class="playground">
        <button class="btn btn-link">
          <a target="_blank" href="https://web.dev/">Linked Button</a>
        </button>
      </div>
      <pre class="code">
        <code class="html">
  &lt;button class="btn btn-link">
    &lt;a target="_blank" href="https://web.dev/">Linked Button&lt;/a>
  &lt;/button>
        </code>
      </pre>
      <p>icon button</p>
      <div class="playground">
        <button class="btn btn-icon btn-solid-safe">
          <span class="material-icons"> save </span>
          Save
        </button>
      </div>
      <pre class="code">
        <code class="html">
  &lt;button class="btn btn-icon btn-solid-safe">
    &lt;span class="material-icons"> save &lt;/span>
    Save
  &lt;/button>
        </code>
      </pre>
      <p>floating action buttons</p>
      <div class="playground">
        <button class="btn btn-float btn-solid-violet">
          <span class="material-icons"> add </span>
        </button>
        <button class="btn btn-float btn-solid-danger">
          <span class="material-icons"> delete </span>
        </button>
      </div>
      <pre class="code">
        <code class="html">
  &lt;button class="btn btn-float btn-solid-violet">
    &lt;span class="material-icons"> add &lt;/span>
  &lt;/button>
  &lt;button class="btn btn-float btn-solid-danger">
    &lt;span class="material-icons"> delete &lt;/span>
  &lt;/button>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-blue"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-blue" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
