<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Buttons | Horsemaker's UI</title>
		<link rel="stylesheet" href="../../stylesheets/reset.css" />
		<link rel="stylesheet" href="../../default.css" />
		<link rel="stylesheet" href="../../stylesheets/main.css" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="header">
			<a class="header-link" href="/index.html"
				><img class="avatar-sm" src="../../assets/horsemaker.svg" alt="🦄" />
				<h2>Horsemaker's UI</h2></a
			>
		</div>
		<div class="main buttons">
			<h1>Buttons</h1>
			<p>
				Buttons allow users to take actions, and make choices, with a single
				tap.
			</p>
			<p>solid buttons</p>
			<div class="playground">
				<button class="btn btn-solid-primary">Primary</button>
				<button class="btn btn-solid-warning">Warning</button>
				<button class="btn btn-solid-danger">Danger</button>
				<button class="btn btn-solid-safe">Safe</button>
			</div>
			<p>outlined buttons</p>
			<div class="playground">
				<button class="btn btn-outline-primary">Primary</button>
				<button class="btn btn-outline-warning">Warning</button>
				<button class="btn btn-outline-danger">Danger</button>
				<button class="btn btn-outline-safe">Safe</button>
			</div>
			<p>linked button</p>
			<div class="playground">
				<button class="btn btn-link">
					<a target="_blank" href="https://web.dev/">Linked Button</a>
				</button>
			</div>
			<p>icon button</p>
			<div class="playground">
				<button class="btn btn-icon btn-solid-safe">
					<span class="material-icons"> save </span>
					Save
				</button>
			</div>
			<p>floating action buttons</p>
			<div class="playground">
				<button class="btn btn-float btn-solid-violet">
					<span class="material-icons"> add </span>
				</button>
				<button class="btn btn-float btn-solid-danger">
					<span class="material-icons"> delete </span>
				</button>
			</div>
		</div>
		<footer>
			<span
				>created by
				<a
					class="hl hl-blue"
					target="_blank"
					href="https://peerlist.io/horsemaker"
					>horsemaker</a
				></span
			>
			<span> - </span>
			<span
				>credits to
				<a class="hl hl-blue" target="_blank" href="https://neog.camp/"
					>neoG Camp</a
				></span
			>
		</footer>
	</body>
</html>
