<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grids | Horsemaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main grids">
      <h1 class="text-center">Grids</h1>
      <p>
        Use grids to create sections of your viewport. Using css grid you can
        create way more complex layouts than with tables.
      </p>
      <h2>Grids - 2 Columns</h2>
      <p></p>
      <div class="playground">
        <div class="grid grid-cols-2">
          <div class="grid-block"></div>
          <div class="grid-block"></div>
        </div>
      </div>
      <h2>Grids - 2 Rows</h2>
      <p></p>
      <div class="playground">
        <div class="grid grid-rows-2">
          <div class="grid-block"></div>
          <div class="grid-block"></div>
        </div>
      </div>
      <h2>Grids - 3 Columns</h2>
      <p></p>
      <div class="playground">
        <div class="grid grid-cols-3">
          <div class="grid-block"></div>
          <div class="grid-block"></div>
          <div class="grid-block"></div>
        </div>
      </div>
      <h2>Grids - 3 Rows</h2>
      <p></p>
      <div class="playground">
        <div class="grid grid-rows-3">
          <div class="grid-block"></div>
          <div class="grid-block"></div>
          <div class="grid-block"></div>
        </div>
      </div>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
