<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ratings | Horsemaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <div class="header">
      <a class="header-link" href="/index.html"
        ><img class="avatar-sm" src="../../assets/horsemaker.svg" alt="🦄" />
        <h2>Horsemaker's UI</h2>
      </a>
    </div>
    <div class="main ratings">
      <h1 class="text-center">Ratings</h1>
      <p>filled star</p>
      <div class="playground">
        <div class="ratings">
          <span class="material-icons rating-icon"> star </span>
        </div>
      </div>
      <p>half filled star</p>
      <div class="playground">
        <div class="ratings">
          <span class="material-icons rating-icon"> star_half </span>
        </div>
      </div>
      <p>empty star</p>
      <div class="playground">
        <div class="ratings">
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>
      <p>5 star ratings - normal</p>
      <div class="playground">
        <div class="ratings">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star_half </span>
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>
      <p>5 star ratings - small</p>
      <div class="playground">
        <div class="ratings ratings-sm">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star_half </span>
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>
      <p>3 star ratings</p>
      <div class="playground">
        <div class="ratings">
          <span class="material-icons rating-icon"> star </span>
          <span class="material-icons rating-icon"> star_half </span>
          <span class="material-icons rating-icon"> star_border </span>
        </div>
      </div>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
  </body>
</html>
