<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards | Horsemaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main cards">
      <h1 class="text-center">Cards</h1>
      <p>
        Card are used to show a user or a product related data collectively.
        Used mostly in Social Media platforms & E-Commerce stores.
      </p>
      <h2>Basic</h2>
      <p>Have a look at the card & the code reference below.</p>
      <div class="playground">
        <div class="card card-vertical">
          <img
            src="../../assets/Headphones.png"
            alt="headphones"
            class="card-media"
          />
          <div class="card-primary">
            <h2 class="card-title">Headphones</h2>
            <h3 class="card-subtitle">by Horsemaker</h3>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>
          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Buy</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon top-right">
                <span class="material-icons"> favorite_border </span>
              </button>
              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-vertical">
    &lt;img
      src="../../assets/Headphones.png"
      alt="headphones"
      class="card-media"
    />
    &lt;div class="card-primary">
      &lt;h2 class="card-title">Headphones&lt;/h2>
      &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>
    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Buy&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon top-right">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code>
      </pre>
      <h2>Card with a Badge</h2>
      <p>Have a look at the card & the code reference below.</p>
      <div class="playground">
        <div class="card card-vertical card-relative">
          <img
            src="../../assets/Headphones.png"
            alt="headphones"
            class="card-media"
          />
          <div class="card-primary">
            <h2 class="card-title">Headphones</h2>
            <h3 class="card-subtitle">by Horsemaker</h3>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>
          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Buy</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon top-right">
                <span class="material-icons"> favorite_border </span>
              </button>
              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>
            </div>
          </div>
          <div class="card-badge hl hl-warning">Bestseller</div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-vertical card-relative">
    &lt;img
      src="../../assets/Headphones.png"
      alt="headphones"
      class="card-media"
    />
    &lt;div class="card-primary">
      &lt;h2 class="card-title">Headphones&lt;/h2>
      &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>
    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Buy&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon top-right">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-badge hl hl-warning">Bestseller&lt;/div>
  &lt;/div>
        </code>
      </pre>
      <h2>Card with Dismiss Icon</h2>
      <p>Have a look at the card & the code reference below.</p>
      <div class="playground">
        <div class="card card-vertical card-relative">
          <div class="card-primary">
            <img
              src="../../assets/Headphones.png"
              alt="headphones"
              class="card-media"
            />
            <div class="card-details">
              <h2 class="card-title">Headphones</h2>
              <h3 class="card-subtitle">by Horsemaker</h3>
            </div>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>
          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Read</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon">
                <span class="material-icons"> favorite_border </span>
              </button>
              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>

              <button class="card-action-icon top-right">
                <span class="material-icons"> close </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-vertical card-relative">
    &lt;div class="card-primary">
      &lt;img
        src="../../assets/Headphones.png"
        alt="headphones"
        class="card-media"
      />
      &lt;div class="card-details">
        &lt;h2 class="card-title">Headphones&lt;/h2>
        &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>
    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Read&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>

        &lt;button class="card-action-icon top-right">
          &lt;span class="material-icons"> close &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code>
      </pre>
      <h2>Card with Text Overlay</h2>
      <p>Have a look at the card & the code reference below.</p>
      <div class="playground">
        <div class="card card-vertical">
          <div class="card-primary card-relative-media">
            <img
              src="../../assets/Headphones.png"
              alt="headphones"
              class="card-media"
            />
            <div class="card-details text-overlay">
              <h2 class="card-title">Headphones</h2>
              <h3 class="card-subtitle">by Horsemaker</h3>
            </div>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>
          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Buy</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon top-right">
                <span class="material-icons"> favorite_border </span>
              </button>
              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-vertical">
    &lt;div class="card-primary card-relative-media">
      &lt;img
        src="../../assets/Headphones.png"
        alt="headphones"
        class="card-media"
      />
      &lt;div class="card-details text-overlay">
        &lt;h2 class="card-title">Headphones&lt;/h2>
        &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>
    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Buy&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon top-right">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code>
      </pre>
      <h2>Text-Only Card</h2>
      <p>Have a look at the card & the code reference below.</p>
      <div class="playground">
        <div class="card card-vertical">
          <img
            src="../../assets/Headphones.png"
            alt="headphones"
            class="card-media hide-media"
          />
          <div class="card-primary">
            <h2 class="card-title">Headphones</h2>
            <h3 class="card-subtitle">by Horsemaker</h3>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>
          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Buy</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon">
                <span class="material-icons"> favorite_border </span>
              </button>
              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-vertical">
    &lt;img
      src="../../assets/Headphones.png"
      alt="headphones"
      class="card-media hide-media"
    />
    &lt;div class="card-primary">
      &lt;h2 class="card-title">Headphones&lt;/h2>
      &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>
    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Buy&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code>
      </pre>
      <h2>Vertical Cards</h2>
      <p>Have a look at the card & the code reference below.</p>
      <div class="playground">
        <div class="card card-vertical">
          <div class="card-primary">
            <img
              src="../../assets/Headphones.png"
              alt="headphones"
              class="card-media"
            />
            <div class="card-details">
              <h2 class="card-title">Headphones</h2>
              <h3 class="card-subtitle">by Horsemaker</h3>
            </div>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>
          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Buy</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon">
                <span class="material-icons"> favorite_border </span>
              </button>
              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>
            </div>
          </div>
        </div>
        <div class="card card-vertical">
          <img
            src="../../assets/Headphones.png"
            alt="headphones"
            class="card-media"
          />
          <div class="card-primary card-order-first">
            <h2 class="card-title">Headphones</h2>
            <h3 class="card-subtitle">by Horsemaker</h3>
          </div>
          <div class="card-secondary">
            Let's unleash the power of music so you can live life to the fullest
            wherever and whenever.
          </div>

          <div class="card-actions">
            <div class="card-action-buttons">
              <button class="card-action-button">Buy</button>
              <button class="card-action-button">Add to Cart</button>
            </div>
            <div class="card-action-icons">
              <button class="card-action-icon">
                <span class="material-icons"> favorite_border </span>
              </button>

              <button class="card-action-icon">
                <span class="material-icons"> share </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-vertical">
    &lt;div class="card-primary">
      &lt;img
        src="../../assets/Headphones.png"
        alt="headphones"
        class="card-media"
      />
      &lt;div class="card-details">
        &lt;h2 class="card-title">Headphones&lt;/h2>
        &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
      &lt;/div>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>
    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Buy&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="card card-vertical">
    &lt;img
      src="../../assets/Headphones.png"
      alt="headphones"
      class="card-media"
    />
    &lt;div class="card-primary card-order-first">
      &lt;h2 class="card-title">Headphones&lt;/h2>
      &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
    &lt;/div>
    &lt;div class="card-secondary">
      Let's unleash the power of music so you can live life to the fullest
      wherever and whenever.
    &lt;/div>

    &lt;div class="card-actions">
      &lt;div class="card-action-buttons">
        &lt;button class="card-action-button">Buy&lt;/button>
        &lt;button class="card-action-button">Add to Cart&lt;/button>
      &lt;/div>
      &lt;div class="card-action-icons">
        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> favorite_border &lt;/span>
        &lt;/button>

        &lt;button class="card-action-icon">
          &lt;span class="material-icons"> share &lt;/span>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code>
      </pre>
      <h2>Horizontal Card</h2>
      <p>Have a look at the card & the code reference below.</p>

      <div class="playground">
        <div class="card card-horizontal">
          <img
            src="../../assets/Headphones.png"
            alt="headphones"
            class="card-media"
          />
          <div class="card-info">
            <div class="card-primary">
              <h2 class="card-title">Headphones</h2>
              <h3 class="card-subtitle">by Horsemaker</h3>
            </div>
            <div class="card-actions">
              <div class="card-action-buttons">
                <button class="card-action-button">Buy</button>
                <button class="card-action-button">Add to Cart</button>
              </div>
              <div class="card-action-icons">
                <button class="card-action-icon top-left">
                  <span class="material-icons"> favorite_border </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="card card-horizontal">
    &lt;img
      src="../../assets/Headphones.png"
      alt="headphones"
      class="card-media"
    />
    &lt;div class="card-info">
      &lt;div class="card-primary">
        &lt;h2 class="card-title">Headphones&lt;/h2>
        &lt;h3 class="card-subtitle">by Horsemaker&lt;/h3>
      &lt;/div>
      &lt;div class="card-actions">
        &lt;div class="card-action-buttons">
          &lt;button class="card-action-button">Buy&lt;/button>
          &lt;button class="card-action-button">Add to Cart&lt;/button>
        &lt;/div>
        &lt;div class="card-action-icons">
          &lt;button class="card-action-icon top-left">
            &lt;span class="material-icons"> favorite_border &lt;/span>
          &lt;/button>
        &lt;/div>
      &lt;/div>
    &lt;/div>
  &lt;/div>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
