<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists | Horsemaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <div class="header">
      <a class="header-link" href="/index.html"
        ><img class="avatar-sm" src="../../assets/horsemaker.svg" alt="🦄" />
        <h2>Horsemaker's UI</h2>
      </a>
    </div>
    <div class="main lists">
      <h1 class="text-center">Lists</h1>
      <p>ordered list</p>
      <div class="playground">
        <ol class="list-spaced">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ol>
      </div>
      <p>unordered list</p>
      <div class="playground">
        <ul class="list-spaced">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
      <p>simple list</p>
      <div class="playground">
        <ul class="list-simple list-style-none">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
      <p>icon list</p>
      <div class="playground">
        <ul class="list-simple list-icon">
          <li>
            <span class="material-icons color-success-light"> task_alt </span
            ><span>Cleaning</span>
          </li>
          <li>
            <span class="material-icons"> radio_button_unchecked </span
            ><span>Shopping</span>
          </li>
          <li>
            <span class="material-icons color-success-light"> task_alt </span
            ><span>Excercise</span>
          </li>
        </ul>
      </div>
      <p>stacked list</p>
      <div class="playground">
        <ul class="list-simple list-stacked">
          <li>
            <img
              class="avatar-round avatar-sm"
              src="../../assets/avatarOne.png"
              alt="avatar"
            />
            <div class="list-info">
              <h3>Jane Doe</h3>
              <small class="color-accents-2">Did you pick Jenny?</small>
            </div>
          </li>
          <li>
            <img
              class="avatar-round avatar-sm"
              src="../../assets/avatarTwo.png"
              alt="avatar"
            />
            <div class="list-info">
              <h3>John Doe</h3>
              <small class="color-accents-2">This Sunday, Golf?</small>
            </div>
          </li>
          <li>
            <img
              class="avatar-round avatar-sm"
              src="../../assets/avatarThree.png"
              alt="avatar"
            />
            <div class="list-info">
              <h3>Jenny Doe</h3>
              <small class="color-accents-2">Where are you?</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
  </body>
</html>
