<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists | Horsemaker's UI</title>

    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />

    <!-- Primary Meta Tags -->
    <meta name="keywords" content="Horsemaker, horsemaker, Horsemaker's UI" />
    <meta name="author" content="Yash Ghodekar" />
    <meta name="publisher" content="Yash Ghodekar" />
    <meta name="copyright" content="Yash Ghodekar" />
    <meta name="audience" content="Everyone" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="title" content="Horsemaker's UI" />
    <meta
      name="description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://horsemaker-ui.netlify.app/" />
    <meta
      property="og:title"
      content="Horsemaker's UI"
    />
    <meta
      property="og:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="og:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://horsemaker-ui.netlify.app/" />
    <meta property="twitter:title" content="Horsemaker's UI" />
    <meta
      property="twitter:description"
      content="Horsemaker's UI is an elegantly designed CSS Component Library integrated with pre-defined class styles for various frequently used components. Build your next UI faster ⏩ & magical ✨ with Horsemaker's UI."
    />
    <meta
      property="twitter:image"
      content="https://horsemaker-ui.netlify.app/assets/meta-preview.png"
    />

    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main lists">
      <h1 class="text-center">Lists</h1>
      <p>List is a record of short pieces of related information.</p>
      <h2>Ordered List</h2>
      <p>
        Use the class <span class="hl-code">list-spaced</span> to make a spaced
        ordered list.
      </p>
      <div class="playground">
        <ol class="list-spaced">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ol>
      </div>
      <pre class="code">
        <code class="html">
  &lt;ol class="list-spaced">
    &lt;li>Item 1&lt;/li>
    &lt;li>Item 2&lt;/li>
    &lt;li>Item 3&lt;/li>
  &lt;/ol>
        </code>
      </pre>
      <h2>Unordered List</h2>
      <p>
        Use the class <span class="hl-code">list-spaced</span> to make a spaced
        unordered list.
      </p>
      <div class="playground">
        <ul class="list-spaced">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
      <pre class="code">
        <code class="html">
  &lt;ul class="list-simple list-cursor-pointer list-style-none">
    &lt;li>Item 1&lt;/li>
    &lt;li>Item 2&lt;/li>
    &lt;li>Item 3&lt;/li>
  &lt;/ul>
        </code>
      </pre>
      <h2>Simple List</h2>
      <p>
        Use the class <span class="hl-code">list-simple</span> to make a simple
        list as shown below.
      </p>
      <div class="playground">
        <ul class="list-simple list-cursor-pointer list-style-none">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
      <pre class="code">
        <code class="html">
  &lt;ul class="list-simple list-cursor-pointer list-style-none">
    &lt;li>Item 1&lt;/li>
    &lt;li>Item 2&lt;/li>
    &lt;li>Item 3&lt;/li>
  &lt;/ul>
        </code>
      </pre>
      <h2>Icon List</h2>
      <p>
        Use the class <span class="hl-code">list-sicon</span> to make a simple
        icon list as shown below.
      </p>
      <div class="playground">
        <ul class="list-simple list-icon list-cursor-pointer">
          <li>
            <span class="material-icons color-success-light"> task_alt </span
            ><span>Cleaning</span>
          </li>
          <li>
            <span class="material-icons"> radio_button_unchecked </span
            ><span>Shopping</span>
          </li>
          <li>
            <span class="material-icons color-success-light"> task_alt </span
            ><span>Excercise</span>
          </li>
        </ul>
      </div>
      <pre class="code">
        <code class="html">
  &lt;ul class="list-simple list-icon list-cursor-pointer">
    &lt;li>
      &lt;span class="material-icons color-success-light"> task_alt &lt;/span
      >&lt;span>Cleaning&lt;/span>
    &lt;/li>
    &lt;li>
      &lt;span class="material-icons"> radio_button_unchecked &lt;/span
      >&lt;span>Shopping&lt;/span>
    &lt;/li>
    &lt;li>
      &lt;span class="material-icons color-success-light"> task_alt &lt;/span
      >&lt;span>Excercise&lt;/span>
    &lt;/li>
  &lt;/ul>
        </code>  
      </pre>
      <h2>Stacked List</h2>
      <p>
        Use the class <span class="hl-code">list-stacked</span> to make a simple
        list as shown below.
      </p>
      <div class="playground">
        <ul class="list-simple list-stacked list-cursor-pointer">
          <li>
            <img
              class="avatar-round avatar-sm"
              src="../../assets/avatarOne.png"
              alt="avatar"
            />
            <div class="list-info">
              <h3>Jane Doe</h3>
              <small class="color-accents-2">Did you pick Jenny?</small>
            </div>
          </li>
          <li>
            <img
              class="avatar-round avatar-sm"
              src="../../assets/avatarTwo.png"
              alt="avatar"
            />
            <div class="list-info">
              <h3>John Doe</h3>
              <small class="color-accents-2">This Sunday, golf?</small>
            </div>
          </li>
          <li>
            <img
              class="avatar-round avatar-sm"
              src="../../assets/avatarThree.png"
              alt="avatar"
            />
            <div class="list-info">
              <h3>Jenny Doe</h3>
              <small class="color-accents-2">Where are you?</small>
            </div>
          </li>
        </ul>
      </div>
      <pre class="code">
        <code class="html">
  &lt;ul class="list-simple list-stacked list-cursor-pointer">
    &lt;li>
      &lt;img
        class="avatar-round avatar-sm"
        src="../../assets/avatarOne.png"
        alt="avatar"
      />
      &lt;div class="list-info">
        &lt;h3>Jane Doe&lt;/h3>
        &lt;small class="color-accents-2">Did you pick Jenny?&lt;/small>
      &lt;/div>
    &lt;/li>
    &lt;li>
      &lt;img
        class="avatar-round avatar-sm"
        src="../../assets/avatarTwo.png"
        alt="avatar"
      />
      &lt;div class="list-info">
        &lt;h3>John Doe&lt;/h3>
        &lt;small class="color-accents-2">This Sunday, golf?&lt;/small>
      &lt;/div>
    &lt;/li>
    &lt;li>
      &lt;img
        class="avatar-round avatar-sm"
        src="../../assets/avatarThree.png"
        alt="avatar"
      />
      &lt;div class="list-info">
        &lt;h3>Jenny Doe&lt;/h3>
        &lt;small class="color-accents-2">Where are you?&lt;/small>
      &lt;/div>
    &lt;/li>
  &lt;/ul>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
