body {
  /* margin-top: 6vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh 0;
}

.welcome {
  height: 100vh;
}

.welcome-main {
  margin-top: 6rem;
  scroll-margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-image {
  width: 16rem;
}

.welcome-title {
  margin-top: -1rem;
  font-size: 3.5rem;
  font-weight: 800;
}

.welcome-desc {
  margin: 1rem 0;
  font-size: 1.25rem;
  max-width: 45vw;
  word-wrap: break-word;
}

.welcome-link {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: var(--color-violet-light);
}

.installation {
  scroll-margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 50vw;
}

code {
  width: 100%;
}

.components {
  scroll-margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.components-main {
  display: flex;
  max-width: 75vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}

.component {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1rem;
  border: 1px solid var(--accents-4);
  border-radius: 5px;
}

.component-link {
  margin-top: auto;
  align-self: flex-start;
}

@media screen and (max-width: 700px) {
  .welcome-title {
    font-size: 3rem;
  }

  .welcome-desc {
    margin: 2rem 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .welcome-link {
    /* margin-top: 1.5rem; */
    font-size: 1.75rem;
  }

  .installation {
    max-width: 100%;
  }

  .components {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .welcome-title {
    font-size: 2.5rem;
  }

  .welcome-link {
    font-size: 1.25rem;
  }
}
