/* Icons */
@import url(https://fonts.googleapis.com/css2?family=Material+Icons);
/* Icons */

@import url(alert.css);
@import url(avatar.css);
@import url(badge.css);
@import url(button.css);
@import url(card.css);
@import url(button.css);
@import url(image.css);
@import url(input.css);

/* Typoghraphy */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Typoghraphy */

/* Colors */
:root {
	--geist-background-darker: #232629;
	--geist-background-dark: #2a2d32;
	--geist-background: #2f3237;

	--geist-foreground: #e5eaf0;
	--accents-1: #ced3d8;
	--accents-2: #acb0b4;
	--accents-3: #898c90;
	--accents-4: #707376;

	--playground-color: #333333;

	/* Error */
	--geist-error-lighter: #f7d4d6;
	--geist-error-light: #f33;
	--geist-error: #e60000;
	--geist-error-dark: #ad0000;
	/* Error */

	--geist-success: #047857;
	/* Success */
	--geist-success-lighter: #a7f3d0;
	--geist-success-light: #10b981;
	--geist-success: #047857;
	--geist-success-dark: #065f46;
	/* Success */

	/* Warning */
	--geist-warning-lighter: #ffefcf;
	--geist-warning-light: #f7b955;
	--geist-warning: #ab570a;
	--geist-warning-dark: #804108;
	/* Warning */

	/* Blue */
	--geist-blue-lighter: #d3e5ff;
	--geist-blue-light: #3291ff;
	--geist-blue: #0761d1;
	--geist-blue-dark: #05499d;
	/* Blue */

	/* Violet */
	--geist-violet-lighter: #d8ccf1;
	--geist-violet-light: #8a63d2;
	--geist-violet: #7928ca;
	--geist-violet-dark: #4c2889;
	/* Violet */

	--letter-spacing: 0.5px;
}
/* Colors */

/* Highlights */

.hl {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
	font-weight: 500;
}

.hl-error {
	background-color: var(--geist-error);
}

.hl-success {
	background-color: var(--geist-success);
}

.hl-warning {
	background-color: var(--geist-warning);
}

.hl-blue {
	background-color: var(--geist-blue);
}

.hl-violet {
	background-color: var(--geist-violet);
}

/* Highlights */
