.alert {
	max-width: 20rem;
	padding: 1rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.alert-primary {
	background-color: var(--geist-blue);
}

.alert-warning {
	background-color: var(--geist-warning);
}

.alert-error {
	background-color: var(--geist-error);
}

.alert-success {
	background-color: var(--geist-success);
}

.alert-content {
	font-weight: 500;
}
