<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alerts | Hormaker's UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main alerts">
      <h1 class="text-center">Alerts</h1>
      <p>
        Alerts are used to attract user's attention for important information
        without interrupting the user's flow.
      </p>
      <h2>Primary Alert</h2>
      <p>
        Make a primary alert for your project by using
        <span class="hl-code">alert</span> &
        <span class="hl-code">alert-primary</span> classes. Have a look at the
        demo & code example below for reference.
      </p>
      <div class="playground">
        <div class="alert alert-primary">
          <span class="alert-content">This is a PRIMARY alert</span>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="alert alert-primary">
    &lt;span class="alert-content">This is a PRIMARY alert&lt;/span>
  &lt;/div>
        </code>
      </pre>
      <h2>Warning Alert</h2>
      <p>
        A warning alert can be made with the help of
        <span class="hl-code">alert</span> &
        <span class="hl-code">alert-warning</span> classes. Look for demo & code
        reference below.
      </p>
      <div class="playground">
        <div class="alert alert-warning">
          <span class="material-icons"> warning </span>
          <span class="alert-content">This is a WARNING alert</span>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="alert alert-warning">
    &lt;span class="material-icons"> warning &lt;/span>
    &lt;span class="alert-content">This is a WARNING alert&lt;/span>
  &lt;/div>
        </code>
      </pre>
      <h2>Error Alert</h2>
      <p>
        An error alert can be made with the help of
        <span class="hl-code">alert</span> &
        <span class="hl-code">alert-error</span> classes. Look for demo & code
        reference below.
      </p>
      <div class="playground">
        <div class="alert alert-error">
          <span class="material-icons alert-icon"> error </span>
          <span class="alert-content">This is an ERRRRROR alert</span>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="alert alert-error">
    &lt;span class="material-icons alert-icon"> error &lt;/span>
    &lt;span class="alert-content">This is an ERRRRROR alert&lt;/span>
  &lt;/div>
        </code>
      </pre>
      <h2>Success Alert</h2>
      <p>
        A success alert can be made with the help of
        <span class="hl-code">alert</span> &
        <span class="hl-code">alert-success</span> classes. Look for demo & code
        reference below.
      </p>
      <div class="playground">
        <div class="alert alert-success">
          <span class="material-icons alert-icon"> check_circle </span>
          <span class="alert-content">This is a SUCCESS alert</span>
        </div>
      </div>
      <pre class="code">
        <code class="html">
  &lt;div class="alert alert-success">
    &lt;span class="material-icons alert-icon"> check_circle &lt;/span>
    &lt;span class="alert-content">This is a SUCCESS alert&lt;/span>
  &lt;/div>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
  </body>
</html>
