<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Alerts | Hormaker's UI</title>
		<link rel="stylesheet" href="../../stylesheets/reset.css" />
		<link rel="stylesheet" href="../../stylesheets/common.css" />
		<link rel="stylesheet" href="../../stylesheets/main.css" />
		<link rel="stylesheet" href="../../stylesheets/docs.css" />
		<!-- <link rel="stylesheet" href="alert.css" /> -->
	</head>
	<body>
		<div class="header">
			<a class="header-link" href="/index.html"
				><img class="avatar-sm" src="../../assets/horsemaker.svg" alt="🦄" />
				<h2>Horsemaker's UI</h2></a
			>
		</div>
		<div class="main alerts">
			<h1>Alerts</h1>
			<p>
				Alerts are used to attract user's attention for important information
				without interrupting the user's flow.
			</p>
			<p>primary alert</p>
			<div class="playground">
				<div class="alert alert-primary">
					<span class="alert-content">This is a PRIMARY alert</span>
				</div>
			</div>
			<!-- <p>secondary alert</p>
			<div class="playground"></div> -->
			<p>warning alert</p>
			<div class="playground">
				<div class="alert alert-warning">
					<span class="material-icons"> warning </span>
					<span class="alert-content">This is a WARNING alert</span>
				</div>
			</div>
			<p>error alert</p>
			<div class="playground">
				<div class="alert alert-error">
					<span class="material-icons alert-icon"> error </span>
					<span class="alert-content">This is an ERRRRROR alert</span>
				</div>
			</div>
			<p>success alert</p>
			<div class="playground">
				<div class="alert alert-success">
					<span class="material-icons alert-icon"> check_circle </span>
					<span class="alert-content">This is a SUCCESS alert</span>
				</div>
			</div>
		</div>
		<footer>
			<span
				>created by
				<a
					class="hl hl-warning"
					target="_blank"
					href="https://peerlist.io/horsemaker"
					>horsemaker</a
				></span
			>
			<span> - </span>
			<span
				>credits to
				<a class="hl hl-warning" target="_blank" href="https://neog.camp/"
					>neoG Camp</a
				></span
			>
		</footer>
	</body>
</html>
