<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inputs | Horsemaker' UI</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" href="../../stylesheets/main.css" />
    <link rel="stylesheet" href="../../stylesheets/common.css" />
    <link rel="stylesheet" href="../../stylesheets/docs.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <section class="navbar-brand">
          <a href="/index.html">
            <img
              class="brand-logo"
              src="../../assets/horsemaker.svg"
              alt="horsemaker"
            />
          </a>
        </section>
        <section class="navbar-menu">
          <ul class="navbar-links">
            <li class="navbar-link">
              <a href="/index.html#installation">Installation</a>
            </li>
            <li class="navbar-link">
              <a href="/index.html#components">Components</a>
            </li>
            <li class="navbar-link"><a href="#">Docs</a></li>
            <li class="navbar-link">
              <a
                target="_blank"
                href="https://github.com/horsemaker/horsemaker-UI"
                >Github</a
              >
            </li>
          </ul>
          <span class="material-icons navbar-icon"> menu </span>
        </section>
      </nav>
    </header>
    <ul class="navbar-responsive-links">
      <li class="navbar-link">
        <a href="/index.html#installation">Installation</a>
      </li>
      <li class="navbar-link">
        <a href="/index.html#components">Components</a>
      </li>
      <li class="navbar-link"><a href="#">Docs</a></li>
      <li class="navbar-link">
        <a target="_blank" href="https://github.com/horsemaker/horsemaker-UI"
          >Github</a
        >
      </li>
    </ul>
    <div class="main inputs">
      <h1 class="text-center">Inputs</h1>
      <p>
        Inputs are necessary for user interaction with the website. Inputs are
        used to take information from the user, and then save the data.
      </p>
      <h2>Labeled Inputs</h2>
      <p>
        Use various labeled inputs in your project. Have a look at the demo &
        the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-text">
            <label for="username">Username</label>
            <input
              class="input"
              type="text"
              name="username"
              id="username"
              placeholder="Horsemaker"
            />
          </div>
          <div class="input-group input-email">
            <label for="email">Email*</label>
            <input
              class="input"
              type="email"
              name="email"
              id="email"
              placeholder="hey@example.com"
              required
            />
          </div>
          <div class="input-group input-text">
            <label for="country">Country</label>
            <input
              class="input"
              type="text"
              name="country"
              id="country"
              placeholder="India, USA, etc."
              value="India"
              disabled
            />
          </div>
          <div class="input-group input-text">
            <label for="city">City</label>
            <input
              class="input"
              type="text"
              name="city"
              id="city"
              placeholder="Mumbai, Delhi, etc."
              value="Mumbai"
              readonly
            />
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-text">
      &lt;label for="username">Username&lt;/label>
      &lt;input
        class="input"
        type="text"
        name="username"
        id="username"
        placeholder="Horsemaker"
      />
    &lt;/div>
    &lt;div class="input-group input-email">
      &lt;label for="email">Email*&lt;/label>
      &lt;input
        class="input"
        type="email"
        name="email"
        id="email"
        placeholder="hey@example.com"
        required
      />
    &lt;/div>
    &lt;div class="input-group input-text">
      &lt;label for="country">Country&lt;/label>
      &lt;input
        class="input"
        type="text"
        name="country"
        id="country"
        placeholder="India, USA, etc."
        value="India"
        disabled
      />
    &lt;/div>
    &lt;div class="input-group input-text">
      &lt;label for="city">City&lt;/label>
      &lt;input
        class="input"
        type="text"
        name="city"
        id="city"
        placeholder="Mumbai, Delhi, etc."
        value="Mumbai"
        readonly
      />
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Errored / Successful Inputs</h2>
      <p>
        Use errored & successful indicators for inputs in your project with
        <span class="hl-code">error</span> &
        <span class="hl-code">success</span> classes. Have a look at the demo &
        the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-password error">
            <label for="password">Password*</label>
            <input
              class="input"
              type="password"
              name="password"
              id="password"
              required
            />
            <div class="validity-message">Minimum 8 characters required!</div>
          </div>
          <div class="input-group input-password success">
            <label for="confirmPassword">Confirm Password*</label>
            <input
              class="input"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              required
            />
            <div class="validity-message">Password Matched!</div>
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-password error">
      &lt;label for="password">Password*&lt;/label>
      &lt;input
        class="input"
        type="password"
        name="password"
        id="password"
        required
      />
      &lt;div class="validity-message">Minimum 8 characters required!&lt;/div>
    &lt;/div>
    &lt;div class="input-group input-password success">
      &lt;label for="confirmPassword">Confirm Password*&lt;/label>
      &lt;input
        class="input"
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        required
      />
      &lt;div class="validity-message">Password Matched!&lt;/div>
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Inputs with Options</h2>
      <p>
        To use input field that provides options to select from have a look at
        the demo & the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-options">
            <label for="color">Choose a color 👇</label>
            <input
              class="input"
              type="text"
              name="color"
              id="color"
              list="colors"
            />
            <datalist id="colors">
              <option value="Orange"></option>
              <option value="Purple"></option>
              <option value="Green"></option>
            </datalist>
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-options">
      &lt;label for="color">Choose a color 👇&lt;/label>
      &lt;input
        class="input"
        type="text"
        name="color"
        id="color"
        list="colors"
      />
      &lt;datalist id="colors">
        &lt;option value="Orange">&lt;/option>
        &lt;option value="Purple">&lt;/option>
        &lt;option value="Green">&lt;/option>
      &lt;/datalist>
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Inputs for Date & Time</h2>
      <p>
        To use input field that helps you select a particular date & time have a
        look at the demo & the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-date">
            <label for="date">Date</label>
            <input class="input" type="date" name="date" id="date" />
          </div>
          <div class="input-group input-time">
            <label for="time">Time</label>
            <input class="input" type="time" name="time" id="time" />
          </div>
          <!-- <div class="input-group input-datetime-local">
						<label for="datetime-local">Date & Time</label>
						<input
							type="datetime-local"
							name="datetime-local"
							id="datetime-local"
						/>
					</div> -->
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-date">
      &lt;label for="date">Date&lt;/label>
      &lt;input class="input" type="date" name="date" id="date" />
    &lt;/div>
    &lt;div class="input-group input-time">
      &lt;label for="time">Time&lt;/label>
      &lt;input class="input" type="time" name="time" id="time" />
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Input for Numbers only</h2>
      <p>
        To use input field that helps you input a particular number have a look
        at the demo & the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-number">
            <label for="number">Number</label>
            <input
              class="input"
              type="number"
              name="number"
              id="number"
              placeholder="0"
            />
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-number">
      &lt;label for="number">Number&lt;/label>
      &lt;input
        class="input"
        type="number"
        name="number"
        id="number"
        placeholder="0"
      />
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Input to choose a file</h2>
      <p>
        To use input field that helps you choose a particular file have a look
        at the demo & the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-file">
            <label for="file">Upload file</label>
            <input class="input" type="file" name="file" id="file" />
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-file">
      &lt;label for="file">Upload file&lt;/label>
      &lt;input class="input" type="file" name="file" id="file" />
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Textarea</h2>
      <p>
        To use textarea that helps you input long text have a look at the demo &
        the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-textarea">
            <label for="review">Review</label>
            <textarea
              class="textarea"
              name="review"
              id="review"
              cols="30"
              rows="5"
            ></textarea>
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-textarea">
      &lt;label for="review">Review&lt;/label>
      &lt;textarea
        class="textarea"
        name="review"
        id="review"
        cols="30"
        rows="5"
      >&lt;/textarea>
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Checkbox Inputs</h2>
      <p>
        To use input fields that helps you select multiple options through
        checkboxes have a look at the demo & the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-checkbox">
            <input type="checkbox" name="checkbox" id="apple" checked />
            <label for="apple">Apple</label>
          </div>
          <div class="input-group input-checkbox">
            <input type="checkbox" name="checkbox" id="orange" />
            <label for="orange">Orange</label>
          </div>
          <div class="input-group input-checkbox">
            <input type="checkbox" name="checkbox" id="pear" disabled />
            <label for="pear">Pear</label>
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-checkbox">
      &lt;input type="checkbox" name="checkbox" id="apple" checked />
      &lt;label for="apple">Apple&lt;/label>
    &lt;/div>
    &lt;div class="input-group input-checkbox">
      &lt;input type="checkbox" name="checkbox" id="orange" />
      &lt;label for="orange">Orange&lt;/label>
    &lt;/div>
    &lt;div class="input-group input-checkbox">
      &lt;input type="checkbox" name="checkbox" id="pear" disabled />
      &lt;label for="pear">Pear&lt;/label>
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Radio Inputs</h2>
      <p>
        To use input fields that helps you select a particular option through
        radio inputs have a look at the demo & the code reference below.
      </p>
      <div class="playground">
        <form class="form">
          <div class="input-group input-radio">
            <input type="radio" name="radio" id="mumbai" checked />
            <label for="mumbai">Mumbai</label>
          </div>
          <div class="input-group input-radio">
            <input type="radio" name="radio" id="bangalore" />
            <label for="bangalore">Bangalore</label>
          </div>

          <div class="input-group input-radio">
            <input type="radio" name="radio" id="delhi" disabled />
            <label for="delhi">Delhi</label>
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;div class="input-group input-radio">
      &lt;input type="radio" name="radio" id="mumbai" checked />
      &lt;label for="mumbai">Mumbai&lt;/label>
    &lt;/div>
    &lt;div class="input-group input-radio">
      &lt;input type="radio" name="radio" id="bangalore" />
      &lt;label for="bangalore">Bangalore&lt;/label>
    &lt;/div>

    &lt;div class="input-group input-radio">
      &lt;input type="radio" name="radio" id="delhi" disabled />
      &lt;label for="delhi">Delhi&lt;/label>
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
      <h2>Sample Form</h2>
      <p>
        A ready-made sample form that might help you in creating your forms.
      </p>
      <div class="playground">
        <form class="form">
          <h2>Registration</h2>
          <div class="input-group input-text">
            <label for="for-username">Username*</label>
            <input
              class="input"
              type="text"
              name="form-username"
              id="form-username"
              placeholder="Horsemaker"
              required
            />
          </div>
          <div class="input-group input-email">
            <label for="form-email">Email*</label>
            <input
              class="input"
              type="email"
              name="form-email"
              id="form-email"
              placeholder="hey@example.com"
              required
            />
          </div>
          <div class="input-group input-password">
            <label for="form-password">Password*</label>
            <input
              class="input"
              type="password"
              name="form-password"
              id="form-password"
              required
            />
          </div>
          <div class="input-group input-password">
            <label for="form-confirmPassword">Confirm Password*</label>
            <input
              class="input"
              type="password"
              name="form-confirmPassword"
              id="form-confirmPassword"
              required
            />
          </div>
          <div class="input-submit">
            <button type="submit" class="btn btn-solid-primary">Sign Up</button>
          </div>
        </form>
      </div>
      <pre class="code">
        <code class="html">
  &lt;form class="form">
    &lt;h2>Registration&lt;/h2>
    &lt;div class="input-group input-text">
      &lt;label for="for-username">Username*&lt;/label>
      &lt;input
        class="input"
        type="text"
        name="form-username"
        id="form-username"
        placeholder="Horsemaker"
        required
      />
    &lt;/div>
    &lt;div class="input-group input-email">
      &lt;label for="form-email">Email*&lt;/label>
      &lt;input
        class="input"
        type="email"
        name="form-email"
        id="form-email"
        placeholder="hey@example.com"
        required
      />
    &lt;/div>
    &lt;div class="input-group input-password">
      &lt;label for="form-password">Password*&lt;/label>
      &lt;input
        class="input"
        type="password"
        name="form-password"
        id="form-password"
        required
      />
    &lt;/div>
    &lt;div class="input-group input-password">
      &lt;label for="form-confirmPassword">Confirm Password*&lt;/label>
      &lt;input
        class="input"
        type="password"
        name="form-confirmPassword"
        id="form-confirmPassword"
        required
      />
    &lt;/div>
    &lt;div class="input-submit">
      &lt;button type="submit" class="btn btn-solid-primary">Sign Up&lt;/button>
    &lt;/div>
  &lt;/form>
        </code>
      </pre>
    </div>
    <footer>
      <span
        >created by
        <a
          class="hl hl-warning"
          target="_blank"
          href="https://peerlist.io/horsemaker"
          >horsemaker</a
        ></span
      >
      <span> - </span>
      <span
        >credits to
        <a class="hl hl-warning" target="_blank" href="https://neog.camp/"
          >neoG Camp</a
        ></span
      >
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="../../javascript/docs.js"></script>
    <script>
      document
        .querySelector('.btn')
        .addEventListener('click', (e) => e.preventDefault())
    </script>
  </body>
</html>
